html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;  
}

body, .wrapper {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  position:fixed;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.main-panel {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #FAFCFE;
}

.flex-break {
  flex-basis: 100%;
  height: 0;
}